nav{
    position: fixed;
    z-index: 999;
    width: 50%;
    height: 70px;
    bottom: 7%;
    left: 25%;
    right: 25%;
    background: #2f2f2f;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
nav ul{
    position: relative;
    display: flex;
    width: 400px;
}
nav ul li{
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
}
nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
nav ul li a .icon{
    position: absolute;
    display: block;
    padding-top: 50%;
    margin-bottom:0;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
    color: rgba(255,255,255,0.5);
}
nav ul li a:hover .icon{
    color: rgba(255,255,255,1);
}
nav ul li.active a .icon{
    color: #ff3c7b;
    transform: translateY(-10px);
}
nav ul li a .text{
    position: absolute;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    opacity: 0;
    z-index: 10;
}
nav ul li.active a .text{
    opacity: 1;
    transform: translateY(35px);
}
.indicator{
    position: absolute;
    width: 80px;
    height: 100px;
    display: flex;
    bottom: -83%;
    left: 6%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    z-index: -1;
}
.indicator::before{
    content: "";
    position: absolute;
    bottom: 70px;
    width: 80%;
    height: 16px;
    background: #ff3c7b;
    border-radius: 10px;
}